{erl_opts, [debug_info]}.

{deps, []}.

{project_plugins, [
    covertool,
    {rebar3_sbom,
        {git, "https://github.com/Taure/rebar3_sbom.git", {branch, "feat/include-otp-components"}}},
    rebar3_audit,
    erlfmt,
    rebar3_hex,
    rebar3_ex_doc
]}.

{erlfmt, [write]}.

{xref_checks, [
    undefined_function_calls,
    undefined_functions,
    locals_not_used,
    deprecated_function_calls,
    deprecated_functions
]}.

{xref_ignores, [
    {providers, create, 1},
    {rebar_api, abort, 2},
    {rebar_api, info, 2},
    {rebar_app_info, dir, 1},
    {rebar_app_info, name, 1},
    {rebar_state, add_provider, 2},
    {rebar_state, command_parsed_args, 1},
    {rebar_state, project_apps, 1},
    {rebar_dir, root_dir, 1}
]}.

{dialyzer, [
    {warnings, [no_unknown]},
    {exclude_mods, [rebar3_fly, rebar3_fly_prv]}
]}.

{hex, [{doc, #{provider => ex_doc}}]}.

{ex_doc, [
    {source_url, <<"https://github.com/novaframework/rebar3_fly">>},
    {extras, [
        <<"README.md">>,
        <<"guides/getting-started.md">>,
        <<"guides/fly-postgres.md">>,
        <<"guides/production-checklist.md">>,
        <<"LICENSE">>
    ]},
    {main, <<"README.md">>},
    {api_reference, true},
    {groups_for_extras, [
        {<<"Guides">>, [
            <<"guides/getting-started.md">>,
            <<"guides/fly-postgres.md">>,
            <<"guides/production-checklist.md">>
        ]}
    ]}
]}.

{cover_enabled, true}.
